* {
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 0 0 3px #ff0000;
}

.container {
  width: 960px;
  margin: 0 auto;
}
main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
